name: tests

on:
  push:
    branches: [ master, main ]
    paths-ignore: [ '**.md' ]
    tags-ignore: [ '**' ]
  pull_request:
    paths-ignore: [ '**.md' ]

jobs:
  k6:
    name: Run performance tests
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      checks: write
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: run testing app
        uses: gacts/run-and-post-run@v1
        with:
          run: docker network create perf-test
          post: docker network rm perf-test

      - name: run testing app
        uses: gacts/run-and-post-run@v1
        with:
          run: docker run --rm -d
            --network "perf-test"
            --name mock
            -p "8080:8080"
            -v "${{ github.workspace }}/back:/config:ro"
            jordimartin/mmock:v3.1.5 -server-statistics=false -console=false -server-port 8080
          post: docker stop mock

      - name: Wait app up and running
        run: |
          echo "Waiting a MMock..."
          curl --output /dev/null \
           --head -X GET --retry 20 \
           --silent \
           --retry-connrefused --retry-delay 2 \
          http://localhost:8080/live

      - name: Run k6 local test
        run: | 
          docker run --rm \
          --network "perf-test" \
          -v "${{ github.workspace }}/k6:/config" \
          loadimpact/k6:latest \
          run /config/ci.js --env HOST="mock:8080"

      - name: Report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: e2e Tests
          path: results.xml
          reporter: java-junit
          fail-on-error: true
